/* ----------BODY---------- */
/* ------------------------ */
/* ------------------------ */

ul
{
    font-family:arial; sans-serif;
}

/* ----------HEADER-------- */
/* ------------------------ */
/* ------------------------ */

div
{
    /* background-color:blue; */
    top:-295px;
    right:0;
    margin-left:80%;
    font-size:13px;
    height:40px;
}

/* Icone */
.toolbar
{
    display:inline-block;
    vertical-align:top;
    /* background-color:red; */
    height:25px;
    width:25px;
    margin-left:15px;
    margin-right:0;
}

#ap
{
    padding-top:7px;
    padding-bottom:7px;
    opacity:.5;
}

#notif
{
    padding-top:7px;
    padding-bottom:7px;
    opacity:.5;
}

#profile
{
    height:100%;
    width:40px;
}

#ap:hover, #notif:hover
		      {
			  opacity:1;
		      }

/* List */
ul
{
    display:inline-block;
    list-style-type:none;
    /* background-color:orange; */
    padding:0;
}

.top 				/*TOP LIST*/
{
    display:inline-block;
    margin-left:15px;
    margin-top:0;
    padding:0;
    
}

/* Top text link decoration changes */

.top a:link, .top a:visited
      {
	  color:black;
	  text-decoration:none;
	  opacity:.75;
      }

.top a:hover
      {
	  text-decoration:underline;
	  opacity:1;
      }


/* ----------Section-------- */
/* ------------------------ */
/* ------------------------ */

/* Picture */
#mainpic
{
    display:block;
    width:272px;
    height:92px;
    margin:auto;
    margin-top:150px;
}

/* Search Bar */

form
{
    display:block;
    width:100%;
}

input
{
    display:block;
    width:587px;
    height:26px;
    margin:auto;
    margin-top:28px;
    padding:5px;
    border:#D9D9D9 solid 1px;
}

input:hover
	  {
	      border:grey solid 1px;
	  }

input:focus
	  {
	      border:#4D90FE solid 1px;
	  }
	
/* Button */

.button
{
    display:inline-block;
    margin:20px auto;
    font-size:15px;
    width:100%;
    text-align:center;
}

.button a
{
    padding: 10px 25px;
    background-color:#F4F4F4;
}

.but
{
    margin-top:23px;
    color:#757575;
    font-weight:bold;
    font-size:13px;
    display:inline-block;
    height:30px;
}

/* Bot text link decoration */

.button a:link, .button a:visited
	      {
		  color:#757575;
		  text-decoration:none;
	      }
.button a:hover
	      {
		  color:black;
		  border:#d9d9d9 solid 1px;
	      }
.button a:active
	      {
		  border:#4D90FE solid 1px;
	      }

/* ----------Footer-------- */
/* ------------------------ */
/* ------------------------ */

footer
{
    height:40px;
    width:100%;
    Position:fixed;
    bottom:0;
    background-color:#F2F2F2;
    padding:0;
}

.bbr,
.bbl
 {
     height:100%;
     margin:0;
     padding-top:10px;
 }

.bbrl,
.bbll
 {
     padding-left:8px;
 }

.bbrl a,
.bbll a
 {
     padding:15px 0px 10px 15px;
 }

/* LEFT LIST */
.bbll a
{
    text-decoration:none;
    color:#717171;
    font-size:small;
}

.bbll a:hover
	    {
		text-decoration:underline;
	    }

.bbll
{
    display:inline-block;
}

/* RIGHT LIST */

.bbrl a
{
    text-decoration:none;
    color:#717171;
    font-size:small;
}

.bbrl a:hover
	    {
		text-decoration:underline;
	    }

.bbrl
{
    display:inline-block;
}

.bbr
{
    padding-left:65%;
}